*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.select__users,
.select__accounts,
.input__amount {
    padding: 10px;
    font-size: 1.5rem;
}

#users,
#accounts,
#amount,
#submit {
    font-size: 1.2rem;
    padding: 5px 10px;
}

.btn {
    text-align: center;
}


